<!-- <p>buyer-list works!</p> -->

<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-sm-3"><a routerLink="" class="btn btn-warning">Home</a></div>

    </div>
    <div class="row align-items-start" id="product">
        <div class="col-3" *ngFor="let prod of products">
            <div class="card m-2" style="width: 18rem;">
                <div class="card-body">

                    <a><img src="{{prod.imageurl}}" class="card-img-top" alt="..." height="200px"></a>
                    <p class="card-text">{{prod.proname}}</p>
                    <h6>Price</h6>

                    <p style="color: green;">{{prod.unitprice}}</p>

                    <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        Buy now
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Description</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <img src="{{prod.imageurl}}" class="card-img-top" alt="...">
                                    </div>
                                    <div class="row">
                                        <p>{{prod.description}}</p>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>