<!-- <p>pro-form works!</p> -->
<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-auto"><a routerLink="/products" class="btn btn-warning">Product List</a></div>
        <div class="col-sm-3"><a routerLink="" class="btn btn-warning">Home</a></div>
    </div>
    <br>
    <div class="row">
        <h4>Product Details</h4>
    </div>
    
    <form #product="ngForm" (ngSubmit)="onSubmit()">
        &nbsp;
        <div class="row">
            <div class="col-sm-3"><label for="">Product name</label></div>
            <div class="col-sm-6"><input type="text" name="proname" [(ngModel)] = formModel.proname></div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-sm-3"><label for="">Description</label></div>
            <div class="col-sm-6"><input type="text" name="description" [(ngModel)] = formModel.description></div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-sm-3"><label for="">Unit Price</label></div>
            <div class="col-sm-6"><input type="number" name="unitprice" [(ngModel)] = formModel.unitprice></div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-sm-3"><label for="">Image URL</label></div>
            <div class="col-sm-6"><input type="text" name="imageurl" [(ngModel)] = formModel.imageurl></div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-sm-3"><label for="">Units In Stock</label></div>
            <div class="col-sm-6"><input type="number" name="unitsinstock" [(ngModel)] = formModel.unitsinstock></div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-sm-3"><label for="">Date Created</label></div>
            <div class="col-sm-6"><input type="date" name="datecreated" [(ngModel)] = formModel.datecreated></div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-sm-3"><label for="">Category Id</label></div>
            <div class="col-sm-6"><input type="number" name="categoryid" [(ngModel)] = formModel.categoryid></div>
        </div>
        &nbsp;
       <div class="row">
            <div class="col-sm-3"><button type="submit" class="btn btn-danger">submit</button></div>
            
        </div>
    </form>
</div>