<!-- <h1>Ecommerce Application</h1> -->

<!-- <app-pro-list></app-pro-list>
<app-cat-list></app-cat-list> -->


<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
      <a style="color: white;" class="navbar-brand" href="#">
        <img src="https://cdn-icons.flaticon.com/png/512/3145/premium/3145827.png?token=exp=1659412344~hmac=3fc136da3558ed005a554633beed1338" alt="" width="30" height="24" class="d-inline-block align-text-top">
        All in one Store
      </a>
    </div>
  </nav>
  
<router-outlet></router-outlet>