<div class="container">
    <br>
    <br>
    <div class="row">
       
        <div class="col-auto"><a routerLink="/categories" class="btn btn-warning">Category List</a></div>
        <div class="col-sm-3"><a routerLink="" class="btn btn-warning">Home</a></div>
    
    </div>
    <br>
    <div class="row">
        <h3>Category Form</h3>
        <br>

    </div>

    <br>

    <form >
        <div class="row">
            <div class="col-sm-3"><label for="">Category Id</label></div>
            <div class="col-sm-6"><input type="number" name="categoryid"></div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-sm-3"><label for="">Category name</label></div>
            <div class="col-sm-6"><input type="text" name="categoryname"></div>
        </div>
        &nbsp;
       

        <div class="row">
            <div class="col-sm-3"><button type="submit" class="btn btn-danger">submit</button></div>
            
        </div>
    </form>
</div>