<!-- <p>cat-list works!</p> -->

<div class="container">
    <br>
    <br>
    <a type="button" routerLink="/categoryform" class="btn btn-warning">Add Category</a>

    &nbsp;
    &nbsp;
    <a routerLink="" type="button" class="btn btn-warning">Home</a>
    <br>
    <br>
    <h4>Category List</h4>
    <br>
    <div class="container" style="margin: 5% 1%;">
    <table class="table  table-bordered table-stripped ">
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
        
            </tr>

            <tr *ngFor="let cat of categories" >
                <td>{{cat.categoryid}}</td>
                <td>{{cat.categoryname}}</td>
        
            </tr>
    </table>
</div>

